torch==2.3.0
transformers==4.41.2
tokenizers==0.19.1
sentencepiece==0.2.0
accelerate==0.29.2
peft==0.10.0
pydantic==2.6.4
numpy==1.26.4
scikit-learn==1.4.2
requests==2.31.0
einops==0.7.0
einops-exts==0.0.4
timm>=0.9.16
wandb==0.16.6
open_clip_torch==2.24.0
rootutils==1.0.7
hydra-core==1.3.2
torchmetrics==1.3.2
git+https://github.com/openai/CLIP.git
rich==13.7.1
pandas==2.2.1
fairscale==0.4.4
scipy==1.10.1
faiss-cpu==1.8.0
datasets==2.14.7
